<% provide(:title, "Help") %>
 <h1>Sample App</h1>
      <p>
        This is the sample app and the help page is 
        <a href="http://www.railstutorial.org/help">Rails Tutorial help</a>.
      </p>
